name: 2.2 IPA Maker

on:
  workflow_dispatch:
    inputs:
      name:
        description: "VNGDPS"
        required: true
      url:
        description: "https://vngdps.ps.fhgdps.com"
        required: true
      bundle:
        description: "com.minhsanggd.vngdps"
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        wget -L https://files.141412.xyz/r/base.ipa -O base.ipa
        npm install
        echo name=${{ inputs.name }} > .env
        echo bundle=${{ inputs.bundle }} >> .env
        echo url=${{ inputs.url }} >> .env
        node index.js
        mv ${{ inputs.name }}.ipa output.ipa
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.3.4
      with:
        # Artifact name
        name: "IPA Output" # optional, default is artifact
        # A file, directory or wildcard pattern that describes what to upload
        path: "output.ipa"
        # The desired behavior if no files are found using the provided path.
        if-no-files-found: warn
          
    
